CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_ESP_HTTPD_WS_SUPPORT=y
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_IDF_TARGET="esp32"

# Flash size 4MB
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

# Partition table: custom file
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
# Offset standard
CONFIG_PARTITION_TABLE_OFFSET=0x8000

# Plus de sockets globaux (listen + ctrl * 2 serveurs + DHCP + clients)
CONFIG_LWIP_MAX_SOCKETS=24
CONFIG_HTTPD_MAX_OPEN_SOCKETS=16
CONFIG_MBEDTLS_DYNAMIC_BUFFER=y
CONFIG_MBEDTLS_SSL_IN_CONTENT_LEN=4096
CONFIG_MBEDTLS_SSL_OUT_CONTENT_LEN=4096
CONFIG_MBEDTLS_SSL_KEEP_PEER_CERTIFICATE=n